/* Custom Font */
@font-face {
  font-family: "Pixelify Sans";
  src: url("assets/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "Super Pixel";
  src: url("assets/fonts/SuperPixel.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Pixelated Elegance";
  src: url("assets/fonts/PixelatedEleganceRegular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --bg-dark: oklch(0.1233 0.0483 303.63);
  --bg-dark-transparent: oklch(0.1233 0.0483 303.63 / 80%);
  --bg-purple: #663399;
  --bg-light-purple: #cc96f2;
  --bg-blue: #969df1;
  --rounded: 12px;
  --star-default-color: #94ffeb;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ad5aff' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Pixelify Sans";
}

header {
  display: flex;
  justify-content: center;
  padding: 0;
  background: var(--bg-purple);
  h1 {
    a {
      text-align: center;
      font-family: "Super Pixel";
      font-size: 2.5rem;
      color: white;
      text-decoration: none;
    }
  }
}

h1 {
  font-family: "Pixelated Elegance";
}

.wrapper {
  height: auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}

.rainbow-border {
  --angle: 0deg;
  border: 3px solid;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      orange,
      lime,
      aqua,
      blue,
      indigo,
      purple,
      magenta,
      red
    )
    1;
  animation: 2s gradient-border linear infinite;
}

.card {
  background-color: var(--bg-dark);
  border: solid 2px var(--bg-purple);
  color: white;
}

.sidebar {
  grid-column: 2 / span 3;
  background: var(--bg-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  gap: 0.5rem;
  padding: 0.5rem;

  > * {
    width: 100%;
    box-sizing: border-box;
  }

  h1 {
    border: solid 2px var(--bg-purple);
    text-align: center;
    margin: 0.25rem 0 0;
  }

  .nav-items-container {
    border: solid 2px var(--bg-purple);
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin: 0;

    .nav-item {
      text-align: center;
      padding: 1rem 2rem;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: translate(0.1rem, -0.2rem);
        font-weight: 600;
        a {
          background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(0, 212, 255, 1) 25%,
            rgba(2, 0, 36, 1) 50%,
            rgba(0, 212, 255, 1) 75%,
            rgba(2, 0, 36, 1) 100%
          );
          background-size: 200% 100%;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
          animation: gradient-shift 1s linear infinite;
        }
      }

      a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .music-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .inspo-container {
    display: grid;
    padding: 0.5rem 0rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 100%;

    .site-badge {
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 4.5rem;
      }
    }
  }
}

.sparkles-wrapper {
  .sparkle {
    animation: grow-and-shrink 600ms ease-in-out infinite;
    transform: translate(-50%, -50%);
    -webkit-mask: url("assets/images/star.svg") center / contain no-repeat;
    mask: url("assets/images/star.svg") center / contain no-repeat;
    background: oklch(
      from var(--star-default-color) l calc(c * 1.8) calc(72 * (var(--i) - 1))
    );
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover > .sparkle {
    opacity: 1;
  }
}

.content {
  grid-column: 5 / span 11;
  background: var(--bg-blue);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: auto;

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;

    h1 {
      margin-bottom: 0;
    }
  }

  .bo-container {
    padding: 1rem 0.5rem;
    justify-content: center;
    align-items: center;

    .sleepy-bo {
      height: 20rem;
      width: 20rem;
      background-image: url(assets/images/sleepy-bo.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      animation: translate-spin 4s linear infinite;
    }
  }

  .other-stuff {
    display: flex;
    flex-direction: row;
  }
}

/* Keyframes */
@keyframes translate-spin {
  0% {
    transform: translateX(0%) rotate(0deg);
  }
  50% {
    transform: translateX(180%) rotate(180deg);
  }
  100% {
    transform: translateX(0%) rotate(360deg);
  }
}

@keyframes gradient-border {
  to {
    --angle: 360deg;
  }
}

@keyframes gradient-shift {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* Properties */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
