body {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  background: #702eff;
  background: radial-gradient(
    circle,
    rgba(112, 46, 255, 1) 0%,
    rgba(7, 7, 99, 1) 88%
  );
  margin: 0;
  padding: 0.5rem;
}

.glass-bg {
  flex: 1;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header {
  width: 100%;
  display: flex;
  flex: row;
  justify-content: center;
  h1 {
    color: white;
  }
}
